<link rel="stylesheet" href="template/css/navigation/navigation.css">

<div class="colum navigation">
    <a href="/feed"><div class="options feedopt">1</div></a>
    <a href="/graphic"><div class="options graphicopt">2</div></a>
    <a href="/home"><div class="options homeopt">3</div></a>
    <a href="/chat"><div class="options chatopt">4</div></a>
    <a href="/config"><div class="options configopt">5</div></a>
</div>