<meta name="theme-color" content="#ff6600" />
<!-- <meta name="theme-color" content="rgb(165, 79, 22)" /> -->


<link rel="stylesheet" href="template/css/title/title.css">

<div class="grid title">
    <div class="title_menu">

        <h4>
            <%= titulo %>
        </h4>
    </div>

</div>