<link rel="stylesheet" href="template/css/pages/cronograma.css">

<div class="cronograma">
   <div class="cronos slideh">
		<div class="cronoscroll">
			<div class="cronos_horas">16h00</div>
			<div class="cronos_info">
				<h5 style="text-align: center;">Dinâmica</h5>
				<p>Uma pequena brincadeira para entrar no clima. <br>
				<span style="padding-top: 2px; color: rgb(165, 79, 22); font-size: 13px;">Joãozinho<span>
				</p>
			</div>
		</div>
	</div>
	 
	 <div class="linecronos"></div>

    <div class="cronos slideh">
		<div class="cronoscroll">		
        <div class="cronos_horas">16h15</div>
        <div class="cronos_info">
            <h5 style="text-align: center;">Apresentação</h5>
				<p>Ouça um pouco sobre a <b>URSAL</b>. <br>
				<span style="color: rgb(165, 79, 22); font-size: 13px;">Mariazinha<span>
				</p>
		  </div>
		</div>
	 </div>
	 
	 <div class="linecronos"></div>

    <div class="cronos slideh">
		<div class="cronoscroll">		
        <div class="cronos_horas">16h40</div>
        <div class="cronos_info" style="">
				<h5 style="text-align: center;">Apresentação</h5>
            <p>E que tal o <b>Cleiton Rasta</b>? <br>
			Talvez possa debochar legal! <br>
			<span style="color: rgb(165, 79, 22); font-size: 13px;">Pedrinho<span>
				</p>
		  </div>
		</div>
	 </div>
	 
	 <div class="linecronos"></div>

    <div class="cronos slideh">
		<div class="cronoscroll">		
      	<div class="cronos_horas">
				17h20
			</div>
			<div class="cronos_info">
			<h5 style="text-align: center;">Lanchinho</h5>
			<p>Ok. Essa parte é incrível, juro! <br>
				Hora de encher o barrigão.
			<span style="color: rgb(165, 79, 22); font-size: 13px;">Pela fome!<span>
			</p>
			</div>
		</div>
	</div>
	<br>
	<br>


</div>  