<link rel="stylesheet" href="template/css/pages/cronograma.css">

<div class="cronograma">
   <div class="cronos slideh">
		<div class="cronoscroll">
			<div class="cronos_horas">07h30</div>
			<div class="cronos_info">
				<h5 style="text-align: center;">Abertura</h5>
				<p>Para entrar no clima. <br>
				<span style="padding-top: 2px; color: rgb(165, 79, 22); font-size: 13px;">Cissa<span>
				</p>
			</div>
		</div>
	</div>
	 
	 <div class="linecronos"></div>

    <div class="cronos slideh">
		<div class="cronoscroll">		
        <div class="cronos_horas">07h50</div>
        <div class="cronos_info">
            <h5 style="text-align: center;">Apresentação</h5>
				<p>Sobre as <b>séries.</b> <br>
				<span style="color: rgb(165, 79, 22); font-size: 13px;">Ana Victória, Luana e Rodrigo.<span>
				</p>
		  </div>
		</div>
	 </div>
	 
	 <div class="linecronos"></div>

    <div class="cronos slideh">
		<div class="cronoscroll">		
        <div class="cronos_horas">08h10</div>
        <div class="cronos_info">
				<h5 style="text-align: center;">Apresentação</h5>
            <p>Sobre os <b>filmes.</b> <br>
			<span style="color: rgb(165, 79, 22); font-size: 13px;">Ellen e Emanoel.<span>
				</p>
		  </div>
		</div>
	 </div>
	 
	 <div class="linecronos"></div>

	 <div class="cronos slideh">
		<div class="cronoscroll">		
        <div class="cronos_horas">08h30</div>
        <div class="cronos_info">
				<h5 style="text-align: center;">Apresentação</h5>
            <p>Sobre os <b>desenhos.</b> <br>
			<span style="color: rgb(165, 79, 22); font-size: 13px;">Jene e Willian.<span>
				</p>
		  </div>
		</div>
	 </div>


	 <div class="linecronos"></div>

	 <div class="cronos slideh">
		<div class="cronoscroll">		
        <div class="cronos_horas">08h50</div>
        <div class="cronos_info">
				<h5 style="text-align: center;">Apresentação</h5>
            <p>Sobre os <b>autores e atores.</b> <br>
			<span style="color: rgb(165, 79, 22); font-size: 13px;">Helen, Mychelle, Raquel e Stefany.<span>
			</p>
		  </div>
		</div>
	 </div>


	 
	 <div class="linecronos"></div>


    <div class="cronos slideh">
		<div class="cronoscroll">		
      	<div class="cronos_horas">
				09h20
			</div>
			<div class="cronos_info">
			<h5 style="text-align: center;">Lanche</h5>
			<p>Ok. Essa parte é incrível, juro!<br>
			<span style="color: rgb(165, 79, 22); font-size: 13px;">Pela fome!<span>
			</p>
			</div>
		</div>
	</div>


	<div class="linecronos"></div>

	 <div class="cronos slideh">
		<div class="cronoscroll">		
        <div class="cronos_horas">10h00</div>
        <div class="cronos_info">
				<h5 style="text-align: center;">Dinâmica</h5>
            <p>Hora da <b>diversão!</b> <br>
			<span style="color: rgb(165, 79, 22); font-size: 13px;">William e Edson.<span>
			</p>
		  </div>
		</div>
	 </div>

	 <div class="linecronos"></div>

	 <div class="cronos slideh">
		<div class="cronoscroll">		
        <div class="cronos_horas">11h10</div>
        <div class="cronos_info">
				<h5 style="text-align: center;">Encerramento</h5>
            <p>Encerramento e entrega das lembrancinhas.</b> <br>
			<span style="color: rgb(165, 79, 22); font-size: 13px;">Mychelle.<span>
			</p>
		  </div>
		</div>
	 </div>

	 <div class="linecronos"></div>

	 <div class="cronos slideh">
		<div class="cronoscroll">		
        <div class="cronos_horas">11h10</div>
        <div class="cronos_info">
				<h5 style="text-align: center;">Pesquisa de satisfação.</h5>
            <p>Sua opinião é bem-vinda. Clique aqui e avalie-nos</b> <br>
			<span style="color: rgb(165, 79, 22); font-size: 13px;">Mychelle.<span>
			</p>
		  </div>
		</div>
	 </div>

	 

	<br>
	<br>


</div>  