<link rel="stylesheet" href="template/css/inicio.css">
<div class="cont">
    <h5 style="padding: 10px 10px;">Olá, <b><%= nome %></b> </h5>
    <div class="artigos"></div>
    <div class="artigos"></div>
    <div class="artigos"></div>
    <div class="artigos"></div>


</div>