<link rel="stylesheet" href="template/css/pages/research.css">


    <div>
        <form action="finishResearch" method="POST">
            <div class="options">
                <h6>Entendeu com clareza o que foi abordado?</h6>
                <input type="radio" name="clareza" value="Sim, fácil." id="clareza_simfacil" checked>
                <label for="clareza_simfacil">Sim, com facilidade.</label>
                <br>
                <input type="radio" name="clareza" value="Sim, difícil." id="clareza_simdificil">
                <label for="clareza_simdificil">Sim, com dificuldade.</label>
                <br>
                <input type="radio" name="clareza" value="Não." id="clareza_nao">
                <label for="clareza_nao">Não.</label>
            </div>


            <div class="options">
                <h6>Você é ou se considera:</h6>
                <input type="radio" name="considera" value="Amarelo(a)" id="considera_amarelo" checked>
                <label for="considera_amarelo">Amarelo.</label>
                <br>
                <input type="radio" name="considera" value="Branco(a)" id="considera_branco">
                <label for="considera_branco">Branco(a) / Caucasiano(a).</label>
                <br>
                <input type="radio" name="considera" value="Indígena" id="considera_indigena">
                <label for="considera_indigena">Indigena.</label>
                <br>
                <input type="radio" name="considera" value="Negro(a)" id="considera_negro">
                <label for="considera_negro">Negro.</label>
                <br>
                <input type="radio" name="considera" value="Pardo(a)" id="considera_pardo">
                <label for="considera_pardo">Pardo(a).</label>
                <br>
                <input type="radio" name="considera" value="Não sabe" id="naosei">
                <label for="naosei">Não sei / Não quero declarar.</label>
            </div>

            <div class="options">
                <h6>O que acho do tema abordado?</h6>
                <input type="radio" name="abordado" value="Ótimo" id="abordado_otimo" checked>
                <label for="abordado_otimo">Ótimo.</label>
                <br>
                <input type="radio" name="abordado" value="Bom" id="abordado_bom">
                <label for="abordado_bom">Bom.</label>
                <br>
                <input type="radio" name="abordado" value="Regular" id="abordado_regular">
                <label for="abordado_regular">Regular.</label>
                <br>
                <input type="radio" name="abordado" value="Ruim" id="abordado_ruim">
                <label for="abordado_ruim">Ruim.</label>
                <br>
                <input type="radio" name="abordado" value="Péssimo" id="abordado_pessimo">
                <label for="abordado_pessimo">Péssimo.</label>
            </div>



            <center><input type="submit" value="Enviar" id="submit"></center>
        </form>

    </div>


<br><br>
<br><br>