$laranjaEscuro: #F1792B;
$amareloClaro: rgb(255, 189, 51);
$laranjaClaro: rgb(255, 163, 47);

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.container {
    .headerLogin {
        text-align: center;
        padding-top: 30px; 
    }

    .containerLogin {
        margin-top: 180px;
        #nickname, #password, #confirmpassword {
            // position: absolute;
            display: block;
            border: none;
            background: white;
            color: black;
            font-stretch: condensed;
            cursor: text;
            width: 80%;
            height: 40px;
            font-size: 18px;
            margin-bottom: 20px;
            border-bottom: 1px solid #72727294;
            border-radius: 2px;
            transition: border-bottom-color 1s;
           
            &::placeholder {
                font-variant-caps: all-small-caps;
                color: #72727294;
            }
            &:focus, &:hover {
                border-bottom: 1px solid $laranjaEscuro;
                transition: border-bottom-color 1s;
            }
        }
        
        #nickname {
            
        }
        #password {
        }
        .btnReg {
            width: 80%;
            height: 40px;
            margin-top: 10px;
            border: none;
            border-radius: 10px;
            text-align: center;
            color: white;
            background-image: linear-gradient(to right, rgba(238, 149, 89, 0.849), rgb(216, 110, 40));
            box-shadow: 0px 1px 20px 0px #F1792B;

        }
    }
    .footerLogin {
        margin-top: 120px;
        text-align: center;
    }
}