<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="libs/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
    <link rel="stylesheet" href="template/css/main.css">
</head>
<body>
    <div class="grid app">
        <% include partials/title.ejs %>
        <% include partials/content.ejs %>

        <% include pages/userarea/jogo.ejs %>
        </div> <!-- fechar content -->
        <% include partials/nav.ejs %>
    </div>
</body>
<script>
    var optselect = document.querySelector(".gameopt");
    optselect.style.backgroundImage = "url('../../../images/userarea/draw_in.png')";
</script>

<script src="/socket.io/socket.io.js"></script>

<script>

        socket.on('atualizar', function(data){
            res.render('game');
        })

</script>

</html>