<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="libs/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
    <link rel="stylesheet" href="template/css/main.css">
    <link rel="stylesheet" href="template/css/raiz.css">

</head>
<body>
    <div class="grid cont">
        
        <a href="register">
            <div class="signup">
                <h4 style="text-align: center; padding-top: 70%;">CADASTRE-SE</h4>
            </div>
        </a>

        <a href="login">
            <div class="login">
                <h4 style="text-align: center; padding-top: 10%;">ENTRE</h4>
            </div>
        </a>
    </div>
    <style>
    
    </style>
</body>


</html>